@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* inter-regular - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url('/fonts/inter-regular-webfont.woff2') format('woff2'),
      url('/fonts/inter-regular-webfont.woff') format('woff');
  }

  /* inter-500 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: optional;
    src: url('/fonts/inter-medium-webfont.woff2') format('woff2'),
      url('/fonts/inter-medium-webfont.woff') format('woff');
  }

  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url('/fonts/inter-bold-webfont.woff2') format('woff2'),
      url('/fonts/inter-bold-webfont.woff') format('woff');
  }

  /* Custom base styles */
  h1 {
    @apply text-3xl font-bold md:text-5xl font-sans;
  }

  h2 {
    @apply text-2xl font-bold md:text-4xl font-sans;
  }

  h3 {
    @apply text-xl font-bold md:text-3xl font-sans;
  }

  h4 {
    @apply text-lg font-bold font-sans;
  }

  body {
    @apply text-sm font-sans bg-white text-gray-800;
  }

  .layout {
    /* 1100px max-width */
    max-width: 68.75rem;
    @apply w-11/12 mx-auto;
  }
}

@layer utilities {
  /* ===== Flipping Card Utilities ===== */
  .perspective {
    perspective: 1000px;
  }
  .transform-style {
    transform-style: preserve-3d;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .flip-transition {
    transition: transform 0.6s ease-in-out;
  }
}
